<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leishianquan.vulnfind.mapper.DepartmentMapper">
    <select id="findDeptAndCount" resultType="com.leishianquan.vulnfind.entity.Department">
        SELECT
            d.id,
            d.`name`,
            COUNT(*) AS deptCount FROM m_user u INNER JOIN
                                       m_department d
                                       on u.department_id = d.id GROUP BY d.id
    </select>
</mapper>
